html {
  background:linear-gradient(0deg , rgba(0, 59, 166, 0.7), rgba(0, 59, 166, 0.7)), url(/images/background.jpg) fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serifs;
  text-shadow: rgba(2, 29, 92, 0.897) 1.5px 1.5px 0;
}

.inputstyle {
  width: 50%;
  padding: 0.7rem;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  background: rgba(2, 29, 92, 0.8);
  width: 50%;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}

fieldset {
  border: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

#title {
  color: #ffffff;
  text-align: center;
}

#description {
  color: #F3B229;
  text-align: center;
  display: block;
  font-size: 1.7rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-style: italic;

}

.resize {
  width: 50%;
}

.dspblock {
  display: block;
}

.bigmargin {
  margin: 1rem 0;
}

.smallmargin {
  margin: 0.4rem 0;  
}


.submit {
  background-color: #F3B229;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 49%;
  padding: 1rem 0;
}

textarea {
  width: 49%;
  height: 6rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}



